html, body {
    width: 100%;
    height: calc(100% - 28px);
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-color: #f6f6f6;
}

header {
    margin-bottom: 30px;
}

#hFooter {
    clear: both;
    height: 56px;
}

.mainContainer {
    min-height: 100%;
    position: relative;
}

footer {
    height: 56px;
    margin-top: -56px;
    position: relative;
    background: #ccc;
}

section {
    margin-bottom: 50px;
}

.login-form {
    text-align: center;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 8px 0px;
    margin-top: 15%;
    margin-bottom: 15%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-radius: 10px;
    padding: 25px;
    background-color: white;
}

.login-form-inputs {
    text-align: center;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.login-form-inputs > input, .login-form-inputs > .btn {
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background-color: #4683ea;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #4387fd;;
    color: white;
}

/***********section_view***********/

/* font-family: "ArimoRegular"; */
@font-face {
    font-family: "ArimoRegular";
    src: url("../fonts/ArimoRegular.eot");
    src: url("../fonts/ArimoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoRegular.woff") format("woff"),
    url("../fonts/ArimoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArimoBold"; */
@font-face {
    font-family: "ArimoBold";
    src: url("../fonts/ArimoBold.eot");
    src: url("../fonts/ArimoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoBold.woff") format("woff"),
    url("../fonts/ArimoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "IntroRegular"; */
@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular.eot");
    src: url("../fonts/IntroRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroRegular.woff") format("woff"),
    url("../fonts/IntroRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Nautilus"; */
@font-face {
    font-family: "Nautilus";
    src: url("../fonts/Nautilus.otf") format("opentype"), 
    url("../fonts/Nautilus.woff") format("woff"),
    url("../fonts/Nautilus.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

.section_view {
    font-family: ArimoRegular;
    font-size: 20px;
}

.section_view h2 {
    font-family: IntroRegular;
    font-size: 30px;
    color: #649222;
    margin: 0px;
}

.section_view h3{
    font-family: IntroRegular;
    font-size: 24px;
    margin-top: 0px;
}

.section_view h4{
    font-size: 22px;
    font-weight: 900;
}

.section_view .tile {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: 50% 50%;
}

.section_view .tile-info {
    width: 100%;
    height: 100%;
    padding: 15px;  
}

.section_view .icons {
    width: 69px;
    float: left;
    margin-right: 20px;
}
.section_view .iconblock {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.section_view .iconblock img {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
}
.section_view .tileTextBlock {
    width: 100%;
    position: relative;
    padding-left: 115px;
    color: #fff;
    font-family: IntroRegular;
    font-size: 27px;
    word-wrap: normal;
    margin: 0px;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
    line-height: 1.1;   
    min-height: 100px;
}
.section_view .tile-info a {
    color: #fff;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}

.section_view .tile-info li:hover, .tile-info li:hover a{
    text-shadow: none;
}

.section_view .tile-info li {
    list-style-type: none;
    color: #fff;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.section_view .tile-info li:before {
    content: "- "
}
.section_view .tile-info ul {
    padding: 0;
    padding-top: 15px;
    width: 100%;
    display: block;
    margin-bottom: 0;
}

.section_view {
    margin-bottom: 15px;
    pointer-events: none;
}
.section_view .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.section_view div[class*='col'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  
}

.section_view hr {
    width: 100%;
    height: 1px;
    margin: 14px 0px;
    border: none;
    background-color: #d2d2d2;
}

/**********************************/

.colorpicker-component > span {
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.colorpicker-component > span:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0px;
}

#size-buttons {
    width: 100%;
}

#size-buttons > label {
    width: 25%;
}

.change_size {
    margin-top: 15px;
}

#current-size-block, #waste-size-block {
    height: 200px;
    background-color: #ccc;
    border-radius: 6px;
}

#current-size-block {
    background-color: #eb9090;
}

.change_size > div:first-child {
    transition-property: max-width;
    transition-duration: 1s;
}

.change_icon {
    background-color: #bbb;
    width: 100%;
    padding: 15px;
    display: inline-block;
    margin: 5px;
}

#current_img > img {
    width: 100%;
}

#aviable-icons>.change_icon:hover {
    background-color: rgb(156, 156, 156);
}

a {
    cursor: pointer;
}

.dropzone {
    width: 100%;
    min-height: 140px;
    border: 2px dashed #0087F7;
    margin-bottom: 10px;
    border-radius: 10px;
}

.dropzone:hover {
    border-style: dotted;
}

#open-file-manager {
    min-height: 37px;
    width: 100%;
}

#ch_sec_icon #open-file-manager {
    height: calc(100% - 197px);
    max-height: 197px;
}

#ch_sec_backgr #open-file-manager {
    height: calc(100% - 167px);
    max-height: 167px;
}

.error {
    margin-top: 30%;
}

.dropzone .dz-preview {
    margin: 0px;
}

.files_str {
    height: 30px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.files_str:hover {
    background-color: #eee;
}

.files_str>img {
    max-width: 20px;
    max-height: 100%;
    margin-left: 15px;
    margin-right: 10px;
}

.files_str {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#file-manager {
    padding: 0px;
}

#loader_gif {
    width: 16%;
    margin-left: 42%;
    margin-right: 42%;
}

#file_preview_out {
    position: absolute;
    width: 100%;
    padding-right: 15px;
    text-align: center;
}

#file_preview_in {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

#file_preview_in>.modal-body>img {
    max-width: 100%;
}

.content_str {
    border-top: 1px solid #e9ecef;
    padding-top: 15px;
}

.content_str:first-child {
    border: none;
}

.content_text {
    width: 80%;
    display: inline-block;
}

.content_buttons {
    width: 20%;
    display: inline-block;
}

.content_buttons img {
    width: 18%;
    margin-left: 7%;
    margin-bottom: 2px;
}

.content_buttons img:active {
    margin-top: 2px;
    margin-bottom: 0px;
}

/***************edit page*********/
#prev_area {
    margin-top: 2rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 10px;
    font-family: ArimoRegular;
    font-size: 20px;
}

#prev_area .pageTopPict {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 30px;
}

#prev_area .pageTopPictMask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#prev_area .pageTopPict .container, #prev_area .pageTopPict .row, #prev_area .pageTopPict div[class*='col-'] {
    height: 100%;
}

#prev_area .pageTopPict div[class*='col-'] {
    box-sizing: border-box;
    text-align: center;
    -webkit-box-pack: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

#prev_area .pageTopPict .textPic {
    display: inline;
    vertical-align: middle;
    width: 100%;
}

#prev_area .pageTopPict .iconblockFlat {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    position: relative;
}

#prev_area .pageTopPict .iconblockFlat img {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
}

#prev_area .pageTopPict p {
    font-family: IntroRegular;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    color: #ffffff;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}

#prev_area section {
    margin-bottom: 30px;
}

#prev_area .flatFont hr {
    border: none;
    color: #d2d2d2;
    border-top: none;
    height: 2px;
    background-color: #d2d2d2;
    margin: 14px 0px;
}

#prev_area h2 {
    text-transform: uppercase;
    font-family: IntroRegular;
    font-size: 30px;
    margin: 0px;
    display: inline-block;
}

#prev_area .content_buttons {
    margin-left: 20px;
}

#prev_area .content_buttons img {
    vertical-align: top;
    width: 13%;
}

#prev_area h3 {
    font-family: IntroRegular;
    font-size: 24px;
    margin-top: 0px;
}

#prev_area .section_buttons {
    display: none;
}

/**********chat******************/

.panel{
    margin-bottom: 0px;
}

.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}

.msg_container_base{
  margin: 0;
  max-height:500px;
  overflow-x:hidden;
}

.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#chat_textarea {
    width: 60%;
    margin-right: 3%;
    height: 38px;
    min-height: 38px;
}

#chat_send_btn {
    width: 37%;
}

.panel-footer {
    margin-bottom: 15px;
}

#chat_messages {
    width: 100%;
}

#chat_messages small {
    position: absolute;
    right: 15px;
}

#chat_window .form-inline {
    margin-bottom: 15px;
}

#chat_window { 
    margin-bottom: 50px;
}
/***************************/

#last_events {
    margin-bottom: 50px;
}

#sections .content_buttons {
    position: absolute;
    right: 15px;
}

#sections .section_name {
    width: 80%;
    display: inline-block;
}

#sections .content_buttons img {
    max-width: 15%;
}